/* 라이브러리 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html > body {
	font-family: "NanumSquare";
	text-underline-position: under;
}

:root {
	--top-bar-height: 69px;
}

/* pc 웹 구현 시작 */
.con {
	max-width: 1200px;
	margin: 0 auto;
}

/* pc 탑바 메뉴 구현 시작 */
.pc-top-bar {
	z-index: 20;
}

.pc-top-bar__inner-wrap > ul > li > a {
	display: flex;
	padding: 0 10px;
	position: relative;
	color: #555;
}

.pc-top-bar__inner-wrap > ul > li:hover > a {
	text-decoration: underline;
}

.pc-top-bar__inner-wrap > ul > li:not(:last-child) > a::after {
	content: "";
	width: 1px;
	height: 11px;
	background-color: #555;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translateY(-40%);
}

.search-btn {
	height: 34px;
	width: 34px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
}

.search-btn > a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pc-top-bar__menu-1 > ul > li > a {
	display: flex;
	padding: 10px 20px 0 20px;
	height: 100%;
	letter-spacing: -0.5px;
}

.pc-top-bar__menu-1 > ul > li:hover > a {
	background-color: #2c2a29;
	color: #669900;
	text-decoration: underline;
}

.menu-1__sub-menu {
	position: absolute;
	left: 0;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	background-color: #2c2a29;
	transition: max-height 0.5s; 
}

.pc-top-bar__menu-1 > ul > li:hover > .menu-1__sub-menu {
	max-height: 320px;
}

.menu-1__sub-menu > .con > ul {
	margin-top: 10px;
}

.menu-1__sub-menu > .con > ul > li:first-child {
	padding-right: 70px;
}

.menu-1__sub-menu > .con > ul > li:not(:first-child) {
	padding: 0 70px;
}

/* 2,3차 메뉴 아이템 공통 속성 */
.menu-1__sub-menu > .con ul > li > a {
	display: block;
}

.menu-1__sub-menu > .con > ul > li > ul {
	margin-bottom: 15px;
}

/* 2차 메뉴 아이템 텍스트 */
.menu-1__sub-menu > .con > ul > li > a {
	color: white;
	font-weight: bold;
	padding: 10px 0;
}

/* 3차 메뉴 아이템 텍스트 */
.menu-1__sub-menu > .con > ul > li > ul > li > a {
	color: #999;
	padding: 3px 0;
	font-size: 13px;
}

.menu-1__sub-menu > .con > ul ul > li:hover > a {
	text-decoration: underline;
}

/* main-top-banner 구현 시작 */
.main-top-banner {
	height: 32vw;
	background-image: url(../images/2024_newYear_top_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-top-banner__con {
	position: relative;
	height: 100%;
	max-width: 100%;
}

.main-top-banner__slogan {
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
	width: 15%;
	left: 15.4%;
}

.main-top-banner__slogan > img {
	max-width: 100%;
}

.btn-slogan {
	z-index: 10;
	position: absolute;
	top: 65%;
	left: 18%;
	text-align: center;
}

.btn-slogan > a {
	display: inline-block;
	color: #1a3c34;
	padding: 5px 30px;
	border: 2px solid #1a3c34;
	border-radius: 5px;
	width: 100%;
	margin: 0 auto;
	transition: all .4s;
}

.btn-slogan:hover > a {
	color: white;
	text-decoration: underline;
	background-color: #1a3c34;
}

.season-menu {
	position: absolute;
}

.season-menu > img {
	display: block;
	width: 100%;
}

.season-menu.menu-1 {
	z-index: 9;
	top: 52.1%;
	left: 50.3%;
	width: 16.4%;
}

.season-menu.menu-2 {
	z-index: 8;
	top: 20.7%;
	left: 34.5%;
	width: 20.8%;
}

.season-menu.menu-3 {
	z-index: 8;
	top: 13%;
	right: 22.3%;
	width: 16.6%;
}
/* main-top-banner 구현 끝 */

/* notice-line 구현 시작 */
.notice-line {
	position: relative;
}

.notice-line__con {
	width: 1280px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.slider-box-1 {
	height: 24px;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
}

.slider-box-1 > .slides {
	height: 100%;
	transition: margin 0.3s;
}

.slider-box-1 > .slides > .slide-item {
	height: 100%;
}

.slider-box-1 > .slides > .slide-item > a {
	display: block;
	height: 100%;
	width: 100%;
}

.slider-box-1 > .slides > .slide-item > a:hover {
	text-decoration: underline;
}

.slider-box-1[data-index="0"] > .slides {
	margin-top: 0;
}

.slider-box-1[data-index="1"] > .slides {
	margin-top: -24px;
}

.slider-box-1[data-index="2"] > .slides {
	margin-top: -48px;
}
/* notice-line 구현 끝 */

/* 스타벅스 리워드 배너 구현 시작 */
.rewrad-wrap {
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #1e3932;
}

.rewrad__con {
	max-width: 1080px;
	margin: 0 auto;
}

.rewrad__logo > img {
	width: 176px;
}

.rewrad__content {
	box-sizing: border-box;
	width: calc(83.7% - 80px);
	padding-right: 30px;
	color: #fff;
	letter-spacing: 0.5px;
}

.info-cont {
	position: relative;
	padding-bottom: 22px;
	border-bottom: 1px solid #4b615b;
}

.btn-signin-group {
	position: absolute;
	bottom: 20px;
	right: 0;
	display: flex;
	gap: 0 10px;
}

.btn-signin-group > a {
	border-radius: 5px;
	height: 38px;
	line-height: 36px;
	padding: 0 18.5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-signin__join {
	background-color: #00704a;
	border: 2px solid #00704a;
}

.btn-signin__login {
	margin-left: 9px;
	background-color: transparent;
	border: 2px solid #fff;
}

.btn-signin-group > a:hover {
	text-decoration: underline;
}

.gift-content {
	position: relative;
	font-size: 14px;
}

.gift-content__text {
	line-height: 1.4;
	letter-spacing: -0.2px;
}

.btn-egift {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	width: 183px;
	height: 38px;
	font-size: 14px;
	border: 2px solid #fff;
	border-radius: 5px;
}

.btn-egift a {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
/* 스타벅스 리워드 배너 구현 끝 */

/* 시즌 프로모션 배너 구현 시작 */
.main-bean__wrap {
	background-image: url(../images/2024_newYear_promotion_bg.jpg);
	height: 573px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-bean__inner-con {
	max-width: 1124px;
}

.main-bean__txt-box {
	position: relative;
}

.main-bean__txt-box .see-detali-btn {
	position: absolute;
	width: 125px;
	height: 38px;
	top: 70%;
}

.main-bean__txt-box .see-detali-btn a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 15px;
	line-height: 34px;
	border-radius: 5px;
	text-align: center;
	box-sizing: border-box;
	color: #6a501a;
	border: 2px solid #6a501a;
	transition: all .4s;
}

.main-bean__txt-box .see-detali-btn:hover a {
	background-color: #6a501a;
	color: white;
	text-decoration: underline;
}
/* 시즌 프로모션 배너 구현 끝 */

/* 리저브 배너 구현 시작 */
.reserve-bean-wrap {
	height:400px;
	position: relative;
}

.reserve-bean__con {
	width: 1080px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%, -52%);
}

.reserve-bean-tit {
	position: absolute;
	top: 50%;
	transform: translateY(-80%);
	left: 28%;
}

.reserve-bean__bg-img > img {
	object-fit: cover;
}

.reserve-bean__btn-detail {
	position: absolute;
	width: 125px;
	height: 38px;
	bottom: 32%;
	left: 41%;
}

.reserve-bean__btn-detail > a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: #cd9757;
	font-size: 14px;
	border: 2px solid #cd9757;
	border-radius: 5px;
	box-sizing: border-box;
	transition: all .4s;
}

.reserve-bean__btn-detail:hover > a {
	text-decoration: underline;
	background-color: #cd9757;
	color: #fff;
}
/* 리저브 배너 구현 끝 */

/* fovorite banner 구현 시작 */
.fovorrite-banner {
	background-image: url(../images/231222_1_pc_pick_bg.jpg);
	background-repeat: no-repeat;
	background-size: auto 87%;
	background-attachment: fixed;
	height: 800px;
	position: relative;
	background-position: center bottom;
}

.fovorrite-banner__con {
	max-width: 1100px;
	height: 100%;
	position: relative;
}

.fovorrite-banner__txt-wrap {
	position: absolute;
	width: 50%;
	height: 100%;
	left: -170px;
}

.fovorrite-banner__txt {
	position: absolute;
	background-repeat: no-repeat;
	z-index: 7;
}

.fovorrite-banner__txt-01 {
	background-image: url(../images/fav_prod_txt01.png);
	height: 204px;
	right: 0;
	top: 120px;
	width: 258px;
}

.fovorrite-banner__txt-02 {
	background-image: url(../images/fav_prod_txt02.png);
	height: 156px;
	right: 0;
	overflow: hidden;
	top: 370px;
	width: 362px;
}

.fovorrite-banner__main-img {
	background-image: url(../images/231222_newyear_img.png);
	top: 100px;
	right: -240px;
	width: 912px;
	height: 575px;
	position: absolute;
	background-size: 100% !important;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 7;
}

.fovorrite-banner__btn-detail {
	width: 125px;
	height: 38px;
	top: 70%;
	right: 0;
	position: absolute;
	z-index: 7;
}

.fovorrite-banner__btn-detail > a {
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	font-size: 15px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .4s;
}

.fovorrite-banner__btn-detail:hover > a {
	background-color: #fff;
	color: black;
	text-decoration: underline;
}
/* fovorite banner 구현 끝 */

/* reserve magazine banner 구현 시작 */
.reserve-magazine-banner {
	background-image: url(../images/reserve_bg_pc.png);
	background-size: auto 353px;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	position: relative;
	height: 400px;

}

.reserve-magazine-banner__con {
	max-width: 1100px;
	height: 100%;
	position: relative;
}

.reserve-magazine__tit {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20%;
	z-index: 10;
}

.reserve-magazine__main-img {
	position: absolute;
	top: 0;
	right: 70px;
}

.reserve-magazine__btn-detail {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 70%;
	left: 30%;
	height: 38px;
	box-sizing: border-box;
}

.reserve-magazine__btn-detail > a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 125px;
	height: 100%;
	color: #000;
	font-size: 15px;
	border: 2px solid #000;
	border-radius: 5px;
	box-sizing: border-box;
	transition: all .4s;
}

.reserve-magazine__btn-detail:hover > a {
	color: #fff;
	background-color: #000;
	text-decoration: underline;
} 
/* reserve magazine banner 구현 끝 */

/* store banner 구현 시작 */
.store-banner {
	background-image: url(../images/store_bg.jpg);
	background-size: 100% auto;
	height: 400px;
	position: relative;
}

.store-banner__con {
	max-width: 1280px;
	height: 100%;
	position: relative;
}

.store-banner__img-01 {
	background-image: url(../images/221212_main_story_1.png);
	height: 312px;
	left: 160px;
	position: absolute;
	top: 0;
	width: 366px;
	z-index: 4;
	background-size: contain;
}

.store-banner__img-02 {
	background-image: url(../images/221212_main_story_2.png);
	height: 228px;
	left: 390px;
	position: absolute;
	top: 149px;
	width: 228px;
	z-index: 5;
	background-size: contain;
}

.store-banner__img-03 {
	background-image: url(../images/store_exp_img03.png);
	height: 142px;
	left: 520px;
	position: absolute;
	top: -60px;
	width: 343px;
	z-index: 4;
}

.store-banner__img-04 {
	background-image: url(../images/store_exp_img04.png);
	height: 102px;
	position: absolute;
	right: 30px;
	top: 298px;
	width: 230px;
	z-index: 4;
}

.store-banner__txt-01 {
	background-image: url(../images/221212_pc_main_story_txt_1.png);
	height: 54px;
	position: absolute;
	right: 162px;
	overflow: hidden;
	top: 100px;
	width: 374px;
	z-index: 4;
}

.store-banner__txt-02 {
	background-image: url(../images/221212_pc_main_story_txt_2.png);
	height: 92px;
	position: absolute;
	right: 168px;
	overflow: hidden;
	top: 168px;
	width: 366px;
	z-index: 4;
	margin-top: 7px;
}

.store-banner__btn-detail {
	border: 2px solid #222;
	border-radius: 5px;
	height: 34px;
	position: absolute;
	right: 413px;
	top: 290px;
	width: 121px;
	z-index: 4;
}

.store-banner__btn-detail > a {
	color: #222;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .4s;
}

.store-banner__btn-detail:hover > a {
	color: white;
	background-color: #222;
	text-decoration: underline;
}
/* store banner 구현 끝 */

/* footer 구현 시작 */
.footer-bar {
	height: 680px;
	background-color: #2C2A29;
	padding: 32px 0 35px 0;
}

/* footer menus 구현 시작 */
.footer__menus-inner {
	max-width: 1250px;
	margin: 0 auto;
	background-image: url(../images/footer_logo.png);	
	background-repeat: no-repeat;
	background-position: right 8px;	
	position: relative;
	margin-bottom: 60px;
}

/* 1, 2차 메뉴 아이템 공통 속성 */
.footer__menus-inner ul > li > a {
	color: white;
}

/* 1차 메뉴 텍스트 */
.footer__menus-inner > ul > li > a {
	font-weight: bold;
	margin-bottom: 15px;
}

.footer__menus-inner > ul > li:not(:nth-child(2)) > a {	
	cursor: default;
}

.footer__menus-inner > ul > li:hover:nth-child(2) > a {
	text-decoration: underline;
}

/* 2차 메뉴 텍스트 */
.footer__menus-inner > ul > li > ul > li > a {
	padding: 3px 0;
	font-size: 14px;
}

.footer__menus-inner > ul > li > ul > li:hover > a {
	text-decoration: underline;	
}
/* footer menus 구현 끝 */

/* footer award 구현시작 */
.footer__award-wrap {
	padding: 20px 0 30px 0;
	background-color: #282828;
}
/* footer award 구현 끝 */

/* footer copyright 구현 시작 */
.copyright {
	margin-top: 30px;
}

.copyright__con {
	max-width: 1250px;
	color: #999;
	font-size: 12px;
}

.copyright__menu-bar {
	position: relative;
}

.copyright__menu-bar > ul > li {
	width: calc(100% / 9);
}

.copyright__menu-bar > ul > li > a {
	font-size: 11.7px;
	padding: 0 10px;
	position: relative;
	letter-spacing: -0.4px;
}

.copyright__menu-bar > ul > li:not(:last-child) > a::after {
	content: "";
	width: 1px;
	height: 11px;
	background-color: #393939;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 100%;
}

.copyright__menu-bar > ul > li:first-child > a {
	color: #00b050;
	font-weight: bold;
}

.copyright__menu-bar > ul > li:nth-child(4) > a {
	color: #00b050;
	font-weight: bold;
}

.copyright__menu-bar > ul > li:hover > a {
	text-decoration: underline;
}

.copyright__btn-group {
	gap: 0 10px;
	margin-top: 20px;
}

.copyright__btn-group > a {
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	width: 110px;
	height: 35px;
}

.copyright__btn-group > a:hover {
	text-decoration: underline;
}

.copyright__menu-txt > ul > li {
	padding: 0 10px;
	position: relative;
}

.copyright__menu-txt > ul > li:not(:last-child)::after {
	content: "";
	width: 1px;
	height: 11px;
	background-color: #393939;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 100%;
}
/* footer copyright 구현 끝 */

/* footer 구현 끝 */
/* pc 웹 구현 끝 */

/* 모바일 웹 구현 시작 */

/* 모바일 탑바 구현 시작 */
.mobile-top-bar{
	height: var(--top-bar-height);
	background-color: #f6f5ef;
	border-bottom: 1px solid #e5e5e5;
	z-index: 30;
}

.mobile-top-bar__logo img {
	width: 45px;
}

.mobile-top-bar__btn-group > ul > li > a {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 15px;
}

.mobile-top-bar__btn-group img {
	height: 35px;
}
/* 모바일 탑바 구현 끝 */

/* 모바일 탑 배너 구현 시작 */
/* 자세히보기 공통 속성 */
.see-detail-common-attr {
	position: absolute;
	width: 125px;
	height: 38px;
}

.see-detail-common-attr a {
	font-size: 15px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 5px;
}

.mob-top-banner {
	background-image: url(../images/2024_m_newYear_top_bg.jpg);
	background-repeat: no-repeat;
	height: 255vw;
	background-position: center top;
	box-sizing: border-box;
	margin-top: var(--top-bar-height);
}

.mob-top-banner__con {
	max-width: 100%;
	position: relative;
	height: 100%;
	margin: 0 auto;
}

.mob-top-banner__slogan {
	position: absolute;
	width: 42%;
	top: 9%;
	left: 28.9%;
	height: 100%;
	margin: 0 auto;
}

.mob-top-banner__season-menus > .season-menu {
	position: absolute;
	max-width: 100%;
}

.mob-top-banner__season-menus > .season-menu.menu-01 {
	z-index: 8;
	top: 22.3%;
	left: 16.6%;
	width: 71.5%;
}

.mob-top-banner__season-menus > .season-menu.menu-02 {
	z-index: 9;
	top: 37.4%;
	left: 19.7%;
	width: 72%;
}

.mob-top-banner__season-menus > .season-menu.menu-03 {
	z-index: 10;
	top: 59.9%;
	left: 17.4%;
	width: 66%;
}

.mob-top-bannder__btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10%;
	width: 320px;
	height: 50px;
}

.mob-top-bannder__btn a {
	border: 2px solid #1a3c34;
	color: #1a3c34;
	font-size: 22px;
	font-weight: bold;
	transition: all .4s;
}

.mob-top-bannder__btn a:hover {
	text-decoration: underline;
	color: white;
	background-color: #1a3c34;
}
/* 모바일 탑 배너 구현 끝 */

/* mob-notice-line 구현 시작 */
.mob-notice-line {
	position: relative;
}

.mob-notice-line__con {
	width: 640px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.slider-box-1 {
	min-width: 0;
	height: 24px;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
}

.slider-box-1 > .slides {
	height: 100%;
	transition: margin 0.3s;
}

.slider-box-1 > .slides > .slide-item {
	height: 100%;
}

.slider-box-1 > .slides > .slide-item > a {
	display: block;
	height: 100%;
	width: 100%;
}

.slider-box-1 .slides .slide-item a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.slider-box-1 > .slides > .slide-item > a:hover {
	text-decoration: underline;
}

.slider-box-1[data-index="0"] > .slides {
	margin-top: 0;
}

.slider-box-1[data-index="1"] > .slides {
	margin-top: -24px;
}

.slider-box-1[data-index="2"] > .slides {
	margin-top: -48px;
}

/* 660px 이하 영역 */
@media (max-width: 660px) {
	.mob-notice-line {
		height: 220px;
	}

	.mob-notice-line-bg {
		flex-direction: column;
	}

	.mob-notice-line__left-bg {
		height: 50% !important;
		width: 100% !important;
	}

	.mob-notice-line__right-bg {
		height: 50% !important;
		width: 100% !important;
	}

	.mob-notice-line__con {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.mob-notice-line__left-text {
		width: 100%;
		height: 50%;
	}

	.mob-notice-line__right-text {
		width: 100%;
		height: 50%;
	}

	.mob-notice-line__inner-text-r > a {
		width: 100%;
		justify-content: center;
	}
} 
/* 660px 이하 영역 */
/* mob-notice-line 구현 끝 */

/* 모바일 스타벅스 리워드 배너 구현 시작 */
.mob-rewrad-wrap {
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #1e3932;
	min-height: 55vh;
}

.mob-rewrad__con {
	max-width: 1080px;
	margin: 0 auto;
}

.mob-rewrad__logo {
	margin-top: 3%;
	width: 35%;
}

.mob-rewrad__logo > img {
	max-width: 100%;
	display: block;
}

.mob-rewrad__content {
	box-sizing: border-box;
	position: relative;
	width: calc(65% - 80px);
	padding-right: 30px;
	color: #fff;
	letter-spacing: 0.5px;
}

.mob-info-cont {
	position: relative;
	min-height: 270px;
	width: 100%;
	border-bottom: 1px solid #4b615b;
}

.mob-rewrad-wrap .btn-signin-group {
	position: absolute;
	top: 77%;
	display: flex;
	gap: 0 10px;
}

.mob-rewrad-wrap .btn-signin-group > a {
	border-radius: 5px;
	height: 38px;
	padding: 0 18.5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mob-rewrad-wrap .btn-signin__join {
	background-color: #00704a;
	border: 2px solid #00704a;
}

.mob-rewrad-wrap .btn-signin__login {
	margin-left: 9px;
	background-color: transparent;
	border: 2px solid #fff;
}

.mob-rewrad-wrap .btn-signin-group > a:hover {
	text-decoration: underline;
}

.mob-gift-content {
	position: relative;
	min-height: 150px;
	font-size: 14px;
}

.mob-gift-content__text {
	line-height: 1.4;
	letter-spacing: -0.2px;
}

.mob-gift-content .btn-egift {
	box-sizing: border-box;
	position: absolute;
	margin-top: 30px;
	top: 50%;
	width: 183px;
	height: 38px;
	font-size: 14px;
	border: 2px solid #fff;
	border-radius: 5px;
}

.mob-gift-content .btn-egift a {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.mob-gift-cont .btn-egift a:hover {
	text-decoration: underline;
}

/* 640px 이하 영역 */
@media screen and (max-width: 640px) {
	.mob-rewrad__con {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.mob-rewrad__content {
		display: block;
		margin-top: 30px;
		width: 100%;
	}

	.mob-info-cont {
		width: 100%;
	}

	.mob-info-cont_txt {
		text-align: center;
	}

	.btn-signin-group {
		left: 50%;
		transform: translateX(-50%);
	}

	.mob-gift-content {
		text-align: center;
	}

	.btn-egift {
		left: 50%;
		transform: translateX(-50%);
	}
}
/* 모바일 스타벅스 리워드 배너 구현 끝 */

/* 모바일 블랜드 베너 구현 시작 */
.mob-blend-banner {
	background-image: url(../images/2024_m_newYear_promotion_bg.jpg);
	height: 165vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.mob-blend-banner__con {
	max-width: 1124px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.mob-blend-banner__img-box {
	position: absolute;
	z-index: 10;
	top: 8%;
	left: 60%;
	width: 53%;
	transform: translate(-50%, 0);
}

.mob-blend-banner__txt-box {
	position: absolute;
	z-index: 10;
	top: 58%;
	right: 50%;
	bottom: 17.5%;
	max-width: 410px;
	width: 83%;
	transform: translate(50%, 0);
}

.mob-blend-banner_detail-btn {
	position: absolute;
	width: 100%;
	height: 7%;
	display: flex;
	justify-content: center;
	bottom: 12%;
}

.mob-blend-banner_detail-btn > a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	font-size: 22px;
	font-weight: bold;
	color: #6a501a;
	border: 2px solid #6a501a;
	border-radius: 3px;
	transition: all .4s;
}

.mob-blend-banner_detail-btn > a:hover {
	color: #fff;
	background-color: #6a501a;
	text-decoration: underline;
}

/* 480px 이하 영역 */
@media (max-width: 480px) {
	.mob-blend-banner_detail-btn > a {
		font-size: 16px;
		font-weight: bold;
	}
}
/* 모바일 블랜드 베너 구현 끝 */

/* 모바일 리저브 배너 구현 시작 */
.mob-reserve-banner {
	background-image: url(../images/231221_m_reserve_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	/* 	background-position: center; */
	height: 170vw;
}

.mob-reserve-banner__con {
	position: relative;
	max-width: 100%;
	height: 100%;
	margin: 0 auto
}

.mob-reserve-banner__detail-btn {
	position: absolute;
	display: flex;
	justify-content: center;
	z-index: 10;
	width: 100%;
	height: 6%;
	bottom: 9.5%;
	padding-left: 9%;
}

.mob-reserve-banner__detail-btn > a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.8vw;
	font-weight: bold;
	width: 50%;
	color: #cd9757;
	border: 2px solid #cd9757;
	border-radius: 5px;
	box-sizing: border-box;
	transition: all .4s;
}

.mob-reserve-banner__detail-btn > a:hover {
	color: #000;
	background-color: #cd9757;
	text-decoration: underline;
}
/* 모바일 리저브 배너 구현 끝 */

/* mob-fovorite-banner 구현 시작 */
.mob-favorite-banner {
	background-image: url(../images/240126_m_pick_bg.jpg);
	background-repeat: no-repeat;
	background-position: center -3px;
	background-size: 100% auto;
	height: 232vw;
	padding: 0;
	position: relative;
	width: 100%;
}

.mob-favorite-banner__con {
	position: relative;
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
}

.mob-favorite-banner__img-box {
	width: 80%;
	position: absolute;
	top: 16%;
	left: 50%;
	transform: translateX(-50%);
}

.mob-favorite-banner__img-box > img {
	max-width: 100%;
	display: block;
}

.mob-favorite-banner__txt01 {
	background-image: url(../images/mobile_menu_txt01.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 8%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	top: 65%;
	width: 70%;
	z-index: 7;
}

.mob-favorite-banner__txt02 {
	background-image: url(../images/mobile_menu_txt02.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: absolute;
	height: 9%;
	left: 50%;
	transform: translateX(-50%);
	top: 73%;
	width: 70%;
	z-index: 7;
}

.mob-favorite-banner__detali-btn {
	width: 100%;
	height: 4%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 84%;
}

.mob-favorite-banner__detali-btn > a {
	font-size: 15px;
	font-weight: bold;
	border: 2px solid #fff;
	border-radius: 5px;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	height: 100%;
	width: 30%;
	transition: all .4s;
}

.mob-favorite-banner__detali-btn > a:hover {
	color: #000;
	background-color: #fff;
	text-decoration: underline;
}

/* 960px 이하 */
@media screen and (max-width: 960px) {
	.mob-favorite-banner {
		background-position: center -6px;
		background-size: 100% auto;
		height: 232vw;
		width: 100%;
	}
}
/* mob-favorite-banner 구현 끝 */

/* mob reserve magazine banner 구현 시작 */
.mob-reserve-magazine-banner.banner-1-1 {
	background-image: url(../images/reserve_bg_pc.png);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: auto 353px;
	height: 400px;
}

.mob-reserve-magazine-banner__con {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.mob-rv__title {
	position: absolute;
	top: 30%;
	left: 5%;
	z-index: 10;
}

.mob-rv__title > img {
	width: 510px;
}

.mob-rv__visual {
	display: block;
	position: absolute;
	bottom: auto;
	top: 0;
	right: 50%;
	margin-right: -483px;
}

.mob-rv__visual > img {
	width: 324px;
	margin-right: 40px;
}

.mob-rv-magazine__btn-detail {
	position: absolute;
	top: 57%;
	left: 28.5%;
	z-index: 10;
	box-sizing: border-box;
}

.mob-rv-magazine__btn-detail > a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 125px;
	height: 40px;
	color: #000;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid #000;
	border-radius: 5px;
	box-sizing: border-box;
	transition: all .4s;
}

.mob-rv-magazine__btn-detail > a:hover {
	color: #fff;
	background-color: #000;
	text-decoration: underline;
}

@media screen and (min-width: 931px) {
	.mob-rv-magazine__btn-detail-1-2 {
		display: none;
	}
}

@media screen and (max-width: 930px) {
	.mob-reserve-magazine-banner.banner-1-1 {
		display: none;
	}

	.mob-reserve-magazine-banner.banner-1-2 {
		background-image: url(../images/reserve_visual_m.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 1200px;
		position: relative;
	}

	.mob-rv-magazine__btn-detail-1-2 {
		position: absolute;
		top: 95%;
		left: 50%;
		transform: translateX(-85%);
		z-index: 10;
		box-sizing: border-box;
	}

	.mob-rv-magazine__btn-detail-1-2 > a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 125px;
		height: 40px;
		color: #000;
		font-size: 15px;
		font-weight: bold;
		border: 2px solid #000;
		border-radius: 5px;
		box-sizing: border-box;
		transition: all .4s;
	}

	.mob-rv-magazine__btn-detail-1-2 > a:hover {
		color: #fff;
		background-color: #000;
		text-decoration: underline;
	}
}
/* mob reserve magazine banner 구현 끝 */

/* 모바일 스토어 배너 구현 시작 */
.mob-store-banner {
	background-image: url(../images/store_bg.jpg);
	background-size: 100% auto;
	height: 750px;
	position: relative;
	width: 100%;
}

.mob-store-banner__con {
	width: 500px;
	height: 100%;
	margin: 0 auto;
	position: relative;	
}

.mob-store-banner__img-01 {
	background-image: url(../images/221212_main_story_2.png);
	background-size: 100% auto;
	height: 199px;
	width: 200px;
	position: absolute;
	top: 21%;
	left: 55%;
	z-index: 5;
}

.mob-store-banner__img-02 {
	background-image: url(../images/221212_main_story_1.png);
	background-size: 100% auto;
	height: 255px;
	width: 300px;
	position: absolute;
	left: 10%;
	top: 0;
	z-index: 4;
}

.mob-store-banner__img-03 {
	background-image: url(../images/store_exp_img03.png);
	background-size: 100% auto;
	height: 115px;
	width: 280px;
	position: absolute;
	left: 9%;
	top: 240px;
	z-index: 4;
}

.mob-store-banner__img-04 {
	background-image: url(../images/store_exp_img04.png);
	background-size: 100% auto;
	height: 75px;
	width: 170px;
	position: absolute;
	left: 78%;
	top: 675px;
	z-index: 4;
}

.mob-store-banner__txt-01 {
	background-image: url(../images/221213_m_main_story_txt_1.png);
	background-size: 100% auto;
	height: 64px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	top: 390px;
	width: 440px;
	z-index: 4;
}

.mob-store-banner__txt-02 {
	background-image: url(../images/221212_m_main_story_txt_2.png);
	background-size: 100% auto;
	height: 130px;
	left: 50%;
	margin-left: -220px;
	position: absolute;
	top: 474px;
	width: 440px;
	z-index: 4;
}

.mob-store-banner__btn-detail {
	border: 2px solid #222;
	border-radius: 3px;
	left: 50%;	
	margin-left: -62px;
	position: absolute;
	top: 640px;
	width: 121px;
	height: 34px;
	z-index: 4;
}

.mob-store-banner__btn-detail > a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	transition: all .4s;
}

.mob-store-banner__btn-detail > a:hover {
	color: #fff;
	background-color: #222;
	text-decoration: underline;
}
/* 모바일 스토어 배너 구현 끝 */

/* 모바일 footer 구현 시작 */
.mob-footer-bar {
	background-color: #2C2A29;
	position: relative;
	width: 100%;
	padding: 32px 0 35px 0;
}

.mob-footer__con {
	width: 762px;
	margin: 0 auto;
	background-image: url(../images/footer_logo.png);
	background-repeat: no-repeat;
	background-position: right 8px;
	position: relative;
}

.mob-footer__menus > ul > li {
	width: 250px;
}

.mob-footer__menus > ul > li:nth-child(4) {
	margin-top: 25px;
}

.mob-footer__menus > ul > li:nth-child(5) {
	margin-top: 25px;
}

.mob-footer__menus > ul > li:nth-child(6) {
	margin-top: 25px;
}

.mob-footer__menus ul > li > a {
	color: #fff;
	letter-spacing: -0.5px;
}

.mob-footer__menus > ul > li > a {
	font-size: 14px;
}

.mob-footer__menus > ul > li > ul {
	margin-top: 5px;
}

.mob-footer__menus > ul > li > ul > li > a {
	padding: 3px 0;
	font-size: 12px;
}

.mob-footer__util-btn {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.mob-footer__util-btn > ul {
	width: 61%;
}

.mob-footer__util-btn > ul > li {
	width: 31%;
	margin: 0 10px;
}

.mob-footer__util-btn > ul > li > a {
	align-items: center;
	justify-content: center;
	font-size: 24px;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 10% 3%;
	color: #fff;
}

.mob-footer__util-btn > ul > li:hover > a {
	text-decoration: underline;
}

.mob-footer__award-wrap {
	background-color: #282828;
	width: 100%;
	margin-top: 30px;
}

.mob-footer__award-wrap-con {
	width: 600px;
	height: 70px;
	display: flex;
	align-items: center;
}

.mob-footer__award-wrap-slide-box-1 {
	width: 100%;
	overflow: hidden;
}

.mob-footer__award-wrap-slide-box-1 > .slides {
	width: 100%;
	height: 100%;
	transition: margin 0.4s;
}

.mob-footer__award-wrap-slide-box-1 > .slides > .slide-item {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
}

.mob-footer__award-wrap-slide-box-1 > .slides > .slide-item > img {
	display: block;
	height: 100%;
	object-fit: cover;
}

.mob-footer__award-wrap-slide-box-1[data-index="0"] > .slides {
	margin-left: 0;
}

.mob-footer__award-wrap-slide-box-1[data-index="1"] > .slides {
	margin-left: -100%;
}

.mob-footer__award-wrap-slide-box-1[data-index="2"] > .slides {
	margin-left: -200%;
}

.mob-footer__award-wrap-slide-box-1[data-index="3"] > .slides {
	margin-left: -300%;
}

.mob-footer__award-wrap-slide-box-1[data-index="4"] > .slides {
	margin-left: -400%;
}

.mob-footer__award-wrap-slide-box-1[data-index="5"] > .slides {
	margin-left: -500%;
}

.mob-footer__award-wrap-slide-box-1[data-index="6"] > .slides {
	margin-left: -600%;
}

.mob-copyright {
	margin-top: 30px;
}

.mob-copyright__con {
	max-width: 1250px;
	color: #999;
	font-size: 12px;
}

.mob-copyright__menu-bar {
	position: relative;
}

.mob-copyright__menu-bar > ul > li {
	width: calc(100% / 9);
}

.mob-copyright__menu-bar > ul > li > a {
	font-size: 11.7px;
	padding: 0 10px;
	position: relative;
	letter-spacing: -0.4px;
}

.mob-copyright__menu-bar > ul > li:not(:last-child) > a::after {
	content: "";
	width: 1px;
	height: 11px;
	background-color: #393939;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 100%;
}

.mob-copyright__menu-bar > ul > li:first-child > a {
	color: #00b050;
	font-weight: bold;
}

.mob-copyright__menu-bar > ul > li:nth-child(4) > a {
	color: #00b050;
	font-weight: bold;
}

.mob-copyright__menu-bar > ul > li:hover > a {
	text-decoration: underline;
}

.mob-copyright__btn-group {
	gap: 0 10px;
	margin-top: 20px;
}

.mob-copyright__btn-group > a {
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	width: 110px;
	height: 35px;
}

.mob-copyright__btn-group > a:hover {
	text-decoration: underline;
}

.mob-copyright__menu-txt > ul > li {
	padding: 0 10px;
	position: relative;
}

.mob-copyright__menu-txt > ul > li:not(:last-child)::after {
	content: "";
	width: 1px;
	height: 11px;
	background-color: #393939;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 100%;
}

/* 480px 이하 영역 */
@media screen and (min-width: 660px) {
	.mob-footer-bar.footer-1-2 {
		display: none;
	}
}

@media screen and (max-width: 660px) {
	.mob-footer-bar.footer-1-1 {
		display: none;
	}

	.mob-footer-bar.footer-1-2 {
		padding-top: 0;
	}

	.mob-footer-bar.footer-1-2 .mob-footer__menus > ul ul {
		display: none;
	}

	.mob-footer-bar.footer-1-2 .mob-footer__con {
		width: 100%;
	}

	.mob-footer-bar.footer-1-2 .mob-footer__menus > ul {
		display: block;
		background-color: #645952;
		color: #e6dbd3;
	}

	.mob-footer-bar.footer-1-2 .mob-footer__menus > ul > li {
		width: 100%;
		margin: 0;
		border-bottom: 1px solid #403a36;
	}

	.mob-footer-bar.footer-1-2 .mob-footer__menus > ul > li > a {
		position: relative;
		padding: 10px;
		letter-spacing: 0;
	}

	.mob-footer-bar.footer-1-2 .mob-footer__menus > ul > li > a::after {
		content: "";
		background-image: url(../images/mobile_footer_arrow_down.png);
		background-size: 20px auto;
		display: block;
		height: 11px;
		margin-top: -5px;
		right: 10px;
		position: absolute;
		top: 50%;
		transform: translateY(-20%);
		width: 20px;
	}

	.mob-footer-bar.footer-1-2 .mob-footer__util-btn {
		margin-top: 25px;
	}

	.mob-footer-bar.footer-1-2 .mob-footer__util-btn ul {
		width: 100%;
		justify-content: center;
	}

	.mob-footer-bar.footer-1-2 .mob-footer__util-btn ul > li {
		width: 20%;
	}

	.mob-footer-bar.footer-1-2 .mob-footer__util-btn ul > li > a {
		font-size: 1.3rem;
		padding: 10% 3%;
	}

	.mob-footer-bar.footer-1-2 .mob-copyright .mob-copyright__menu-txt > ul {
		display: block;
		text-align: center;
	}
}
/* 모바일 footer 구현 끝 */

/* 모바일 웹 구현 끝 */

@media ( min-width: 960px ) {
	.starbucks-mobile-wrap {
		display:none;
	}
}

@media ( max-width: 960px ) {
	.starbucks-pc-wrap {
		display:none;
	}
}